/*          FONTS          */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


/*          GENERICS          */
:root{
  --color-back: #000000;
  --color-title: #e97ee9;
  --color-title-2: rgb(190, 90, 240);
  --color-letters: rgb(245, 245, 245);
}

body{
  background-color: var(--color-back);
  font-family: "Roboto";
  color: var(--color-letters);
}

section{
  margin: 4em;
  overflow: hidden;
}

a:link{text-decoration: none;}

.hidden{display: none;}

.left{animation: left 2s linear forwards;}

.right{animation: right 2s linear forwards;}

.up{animation: up 2s forwards;}

.back{
  background-color: var(--color-letters);
  color: var(--color-back);
}

/*          INITIAL          */
#init{
  display: flex;
  align-items: center;
  justify-content: center;
}

#init-photo-item{
  width: 70%;
  border-radius: 10px;
}

#init-items h1{
  color: var(--color-title);
  font-size: 4rem;
}

#init-items{
 display: flex;
 flex-direction: column;
 align-items: center;
}

#init-items a{color: var(--color-title-2);}

/*          KEYFRAMES         */
@keyframes left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-700px);
  }
}

@keyframes right {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(700px);
  }
}
@keyframes up {
  to{
    transform: translateY(-600px);
  }
}

/*          ABOUT         */


/*          CV  &   PROJECTS        */
/*
#cv{
  display: none;
}
.cv{
  color: var(--tema2);
  position: relative;
}
.projects{
  color: var(--tema2);
  display: none;
}
.cv h3, .cv h4, .projects h4, .projects h5{
  color: var(--tema3);
}
.projects h3{
  color: var(--media);
}
.projects h4{
  margin: 2em 0;
}
.cv p{
  padding-left: 2em;
}
.cv li, .projects li{
  list-style-type: none;
}
.about{
  text-align: justify;
}

*/
/*          FOOTER          */
#medias{
  display: flex;
  align-items: center;
  justify-content: center;
}
#medias a{
  color: var(--color-title-2);
  font-size: 1.5rem;
  margin: 1rem;
}


/*              MEDIAS             */
@media (max-width:768px) {
  #init{display: block;  }

  #init-photo-item{width: 100%;  }

  #init-items h1{font-size: 2rem;}
 
  #medias a{font-size: 1rem;}

  .projects{
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .projects h3, .projects h4{
    margin: 1em 0;
  }
}
