/*          FONTS          */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


/*          GENERICS          */
:root{
  --color-back: #000000;
  --color-title: #e97ee9;
  --color-title-2: rgb(190, 90, 240);
  --color-letters: rgb(245, 245, 245);
}

body{
  background-color: var(--color-back);
  font-family: "Roboto";
  color: var(--color-letters);
}

section{overflow: hidden;}

a:link{text-decoration: none;}

.navbar a{color: var(--color-title-2);}

.back{
  background-color: var(--color-letters);
  color: var(--color-back);
}

#init{
  display: flex;
  align-items: center;
  justify-content: center;
}

#init-photo-item{
  width: 70%;
  border-radius: 10px;
}

#init-items h1{
  color: var(--color-title);
  font-size: 4rem;
}

#init-items, #about{
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
}

#init-items a{color: var(--color-title-2);}

#about h3, #about h4{color: var(--color-title);}

#arrow-back{
  background-color: var(--color-letters);
  color: var(--color-title-2);
  margin: 2rem;
}
#projects{margin: auto;}

.card{
  border: 1px solid var(--color-letters);
  border-radius: 0%;}

.card-body{background-color: var(--color-back);}

#projects li{list-style-type: none;}

#projects a{color: var(--color-title-2);}

#projects h1{
  background-color: var(--color-back);
  color: var(--color-title);
  padding: 1rem;
}

#medias{
  display: flex;
  align-items: center;
  justify-content: center;
}
#medias a{
  color: var(--color-title-2);
  font-size: 1.5rem;
  margin: 1rem;
}

/*          KEYFRAMES         */

.left{animation: left 2s linear forwards;}
.left-reverse{animation: left-reverse 2s linear forwards reverse;}

.right{animation: right 2s linear forwards;}
.right-reverse{animation: right-reverse 2s linear forwards reverse;}

.up{animation: up 2s forwards;}
.up-reverse{animation: up 2s reverse forwards;}

@keyframes left {
  0% {transform: translateX(0);}
  100% {transform: translateX(-700px);}
}

@keyframes left-reverse {
  to{transform: translateX(0);}
}

@keyframes right {
  0% {transform: translateX(0);}
  100% {transform: translateX(700px);}
}

@keyframes right-reverse {
  to{transform: translateX(0);}
}

@keyframes up {
  to{transform: translateY(-600px);}
}


/*              MEDIAS             */
@media (max-width:768px) {
  #init{display: block;}

  #init-photo-item{width: 80%;  }

  #init-items h1{font-size: 2rem;}
 
  #medias a{font-size: 1rem;}

  @keyframes up {
    to{transform: translateY(-450px);}
  }
}
